* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

body {
  background-color: black; }

.header h1 {
  color: #2c02a0;
  text-align: center;
  padding: 2rem;
  background-color: whitesmoke; }

.productos {
  width: auto; }
  .productos h2 {
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
    color: whitesmoke;
    background-color: mediumpurple;
    padding: 2rem; }
  .productos p {
    font-family: cursive;
    color: black;
    background-color: #553497;
    padding: 1rem; }

.novedades {
  width: auto; }
  .novedades h2 {
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
    color: whitesmoke;
    background-color: mediumpurple;
    padding: 2rem; }
  .novedades p {
    font-family: cursive;
    color: black;
    background-color: #553497;
    padding: 1rem; }

.nosotros {
  width: auto; }
  .nosotros h2 {
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
    color: whitesmoke;
    background-color: mediumpurple;
    padding: 2rem; }
  .nosotros p {
    font-family: cursive;
    color: black;
    background-color: #553497;
    padding: 1rem; }

.footer h2 {
  color: #2c02a0;
  text-align: center;
  padding: 1rem;
  background-color: whitesmoke; }

.footer p {
  font-family: cursive;
  color: black;
  background-color: whitesmoke;
  padding: 1rem; }
